---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->
<header>
  <h1>Gluttony</h1>
  <label for="api">Pick an API:</label>
  <select name="api" id="api">
    <option value="github" selected>GitHub</option>
    <option value="youtube">YouTube</option>
    <option value="flickr" >Flickr</option>
    <option value="tumblr">Tumblr</option>
    <option value="reddit">Reddit</option>
  </select>
</header>
<div id="container"></div>


